[submodule "susfs4ksu"]
	path = susfs4ksu
	branch = kernel-4.14
	url = https://gitlab.com/simonpunk/susfs4ksu.git
	ignore = dirty
[submodule "KernelSU"]
	path = KernelSU
	branch = non-gki-n3x7g3n
	url = https://github.com/sidex15/KernelSU
	ignore = all